[class^="sprite-"] {display: inline-block;background-size: 133rpx}
.sprite-cs-wechatpay {width: 64rpx;height: 64rpx;background-position: 0rpx 0rpx;}
.sprite-cs-zfb {width: 64rpx;height: 64rpx;background-position: -69rpx 0rpx;}
