@charset "UTF-8";
/**app.wxss**/
// @import "assets/iconfont/iconfont";
// @import "http://at.alicdn.com/t/font_1161178_lwv3ndnqtu.css";
@import "assets/wxss/weui";
@import "assets/wxss/sprite";
@import "assets/wxss/common/layout";
/** 自定义样式 **/
view{
  box-sizing: border-box;
}

page{
  height: 100%;
  font-size: 28rpx;
  color: #666;
}

.common-page{
  background-color: #F5F5F5;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.common-page.auto{
  height: unset;
  min-height: 100%;
}

.hl{
  color: #81d8cf;
}

.weui-cells{
  font-size: 28rpx;
}

.weui-cells .weui-cell.fh{
  height: 88rpx;
}

.weui-cell .emphasis{
  color: red;
}

.dslb{
  display: inline-block;
}

.com-placeholder{
  color: #ccc;
}

.class-pick-btn{
  color: #ccc;
}

.class-pick-btn.empty{
  color: #ccc;
}

.class-pick-btn.filled{
  color: #666;
}

.page__bd{
  padding: 0 30rpx;
}

.weui-btn{
  background-color: #81d8cf;
  color: #fff;
  border: #8acec7;
  font-size: 32rpx;
  height: 88rpx;
  line-height: 88rpx;
}

.weui-btn.disable{
  background-color: #999;
  border: #999;
}

.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/** 通用大标题 **/
.stu-work-list-wrp{
  background-color: #fff;
  padding-top: 16rpx;
}

.stu-work-list-wrp.mt{
  margin-top: 16rpx;
}

.com-block-title{
  height: 72rpx;
  line-height: 72rpx;
  text-align: center;
  padding: 0 32rpx;
  font-size: 32rpx;
  font-weight: bold;
}

.com-block-title .btm-line{
  display: inline-block;
  border-bottom: 5rpx solid #81d8cf;
  line-height: 64rpx;
  vertical-align: middle;
}

.loading-text{
  text-align: center;
  padding: 20rpx 0;
  color: #aaa;
}

/** 头部提示 **/
.header-tip{
  padding: 8rpx 32rpx;
  color: #fff;
  font-size: 24rpx;
}

.header-tip.error {
  background-color: rgba(255, 41, 41, 0.719);
}

.header-tip.success {
  background-color: rgba(52, 212, 114, 0.719);
}

.iconfont{
  display: inline-block;
}

.ib{
  display: inline-block;
}

.com-list{
  height: 100%;
  overflow: auto;
  padding-top: 88rpx;
  box-sizing: border-box;
}


.apply-btn{
  height: 96rpx;
  line-height: 96rpx;
  background-color: #B4A078;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

textarea{
  height:120px;
}

/** 常用样式 **/
.clear {
  zoom: 1;
}
.clear:after {
  display: table;
  content: "";
  visibility: hidden;
  clear: both;
}

/** 图片裁剪 **/
.cropper-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  background:rgba(0,0,0,0.4);
}

.cropper-op-btn{
  position: fixed;
  height: 120rpx;
  line-height: 120rpx;
  color: #fff;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}

.cropper-op-btn::after{
  opacity: 0.8
}

.cropper-op-cancel{
  width: 160rpx;
  text-align: center;
  float: left;
  font-size: 32rpx;
  height: 120rpx;
  line-height: 120rpx;
}

.cropper-op-finish{
  width: 160rpx;
  text-align: center;
  float: right;
  height: 120rpx;
  line-height: 120rpx;
}

.back-icon-wrp{
  display: flex;
  align-items: center;
  height: 88rpx;
  width: 88rpx;
  position: fixed;
  top: 0;
  margin-top: 40rpx;
  padding-left: 24rpx;
  font-size: 26px;
  z-index: 3;
}

.back-icon-wrp .icon-xiazai1{
  color: #fff;
}

.com-empty-item{
  height: 250rpx;
  line-height: 250rpx;
  text-align: center;
  /* border-top: 1rpx solid #e4e4e4; */
  color: #999;
}

.common-db-btn{
  height: 96rpx;
  line-height: 96rpx;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.common-l-btn{
  flex: 1;
  background-color: rgb(243, 197, 104);
  color: #fff;
  text-align: center;
}

.common-r-btn{
  flex: 1;
  background-color: #B4A078;
  color: #fff;
  text-align: center;
}

button.rmbutton{
  border-radius: 0;
  font-size: 28rpx;
  text-align: left;
  line-height: unset;
  color: unset;
  background-color: unset;
  overflow: unset;
}

button.rmbutton::after{
  border: 0;
}

button.rmbutton::before{
  border: 0;
}

