/* pages/mallmanagement/mallmanagement.wxss */
/* 后台管理 */
.mallmanagement {
  padding: 20rpx;
  min-height: 100vh;
  background: #f6f6f6;
}
.management-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220rpx;
  height: 218rpx;
  background: #fff;
  border-radius: 16rpx;
  margin: 16rpx 8rpx 0;
  padding: 20rpx;
  float: left;
}
.management-item:first-child {
  width: 100%;
  margin-top: 0;
}
.management-item .title-item {
  font-size: 32rpx;
  color: #333;
  font-weight: bold;
}
.management-item .num-item {
  display: inline-block;
  background: #eee;
  border-radius: 22rpx;
  min-width: 96rpx;
  line-height: 44rpx;
  padding: 0 28rpx;
  margin-top: 20rpx;
  text-align: center
}