.tabs {
  font-size: 0;
  border-bottom: 1rpx solid #EEEEF0;
  .tabs-item {
    display: inline-block;
    vertical-align: top;
    line-height: 96rpx;
    padding: 0 32rpx;
    font-size: 32rpx; 
    color: #7F8593;
    transition: all .1s;
    &.active {
      position: relative;
      font-size: 40rpx;
      font-weight: bold;
      color: #181C28;
      &:before {
        content: '';
        position: absolute;
        bottom: 11rpx;
        left: 0;
        right: 0;
        margin: auto;
        width: 18rpx;
        height: 6rpx;
        border-radius: 4rpx;
        background: #4283F4;
      }
    }
  }
}

.prod-item {
  padding: 32rpx;
  .prod-img {
    image {
      width: 180rpx;
      height: 180rpx;
      display: block;
      border-radius: 8rpx;
      margin-right: 32rpx;
    }
  }
  .prod-tit {
    font-weight: bold;
    font-size: 32rpx;
    color: #181C28;
    line-height: 44rpx;
    margin-bottom: 8rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .prod-info {
    font-size: 26rpx;
    color: #7F8593;
    text-align: justify;
    line-height: 40rpx;
    display: -webkit-box;
    -webkit-line-clamp:2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
  .prod-price {
    margin-top: 16rpx;
    font-size: 32rpx;
    font-weight: bold;
    color: #FF555F;
    line-height: 32rpx;
    align-items: center;
    text {
      font-size: 26rpx;
      color: #51C75B;
      text-align: right;
      line-height: 26rpx;
    }
  }
  .tag {
    display: inline-block;
    vertical-align: top;
    background: #FFFFFF;
    border: 1rpx solid #B4ECE6;
    border-radius: 4rpx;
    font-size: 20rpx;
    color: #15B0A0;
    line-height: 30rpx;
    padding: 0 8rpx;
    margin-left: 16rpx;
  }
}
