.banner-img {
  display: block;
  width: 100%;
  height: 574rpx;
}
// 详情信息
.detail-info {
  padding: 40rpx 32rpx 56rpx;
  .detail-price {
    font-weight: bold;
    font-size: 40rpx;
    color: #FF555F;
    line-height: 40rpx;
    margin-bottom: 24rpx;
  }
  .detail-title {
    font-weight: bold;
    font-size: 40rpx;
    color: #181C28;
    line-height: 60rpx;
    margin-bottom: 24rpx;
  }
  .detail-desc {
    font-size: 28rpx;
    color: #7F8593;
    line-height: 42rpx;
  }
}
// 详情点评
.detail-operate {
  text-align: center;
  padding: 0 0 56rpx;
  icon {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 16rpx;
  }
  view {
    font-size: 26rpx;
    color: #7F8593;
    line-height: 26rpx;
  }
}
// 
.detail-guide {
  line-height: 88rpx;
  font-size: 32rpx;
  color: #181C28;
  font-weight: bold;
  margin-bottom: 8rpx;
}
// 课程章节
.detail-chapter {
  padding: 0 32rpx 56rpx;
  .chapter-item {
    height: 96rpx;
    background: #F4F4F6;
    border-radius: 8rpx;
    padding: 0 28rpx 0 32rpx;
    font-size: 26rpx;
    color: #7F8593;
    &:not(:last-child) {
      margin-bottom: 8rpx;
    }
  }
}
// 课程评论
.detail-comment {
  padding: 0 32rpx 56rpx;
  .comment-item {
    &:not(:last-child) {
      padding-bottom: 48rpx;
    }
    .user-avatar {
      width: 48rpx;
      height: 48rpx;
      margin-right: 16rpx;
      image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .user-name,
    .comment-time {
      font-size: 30rpx;
      color: #B2B4BE;
      line-height: 48rpx;
    }
    .comment-time {
      font-size: 24rpx;
    }
    .comment-desc {
      margin-top: 16rpx;
      font-size: 26rpx;
      color: #181C28;
      line-height: 40rpx;
    }
    .reply-item {
      margin-top: 48rpx;
    }
  }
}
// 页脚
.detail-footer {
  padding: 32rpx;
  text-align: center;
  .comment-btn {
    width: 96rpx;
    height: 96rpx;
    margin-right: 16rpx;
    icon {
      width: 48rpx;
      height: 48rpx;
    }
  }
  .operate-group {
    border-radius: 12rpx;
    overflow: hidden;
  }
  .operate-item {
    background: #4A4C50;
    height: 96rpx;
    padding: 18rpx 0 16rpx;
    color: #fff;
    line-height: 1;
    strong {
      display: block;
      font-size: 30rpx;
      margin-bottom: 8rpx;
    }
    view {
      font-size: 24rpx;
    }
  }
  .btn-blue {
    background: #4283F4;
  }
}